/*Diseño*/

body {
    font-family: Arial, sans-serif; 
    background-color: #Fae3bd; /* Fondo de la página */
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: #F1c878; 
    border-radius: 20px; 
    padding: 30px 40px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 400px; 
    text-align: center; 
}

/* Imagen de Perfil */

.profile-pic-container {
    margin-bottom: 25px;
}

.profile-pic {
    width: 120px; 
    height: 120px;
    border-radius: 50%; /* esto lo convierte en circulo */
    object-fit: cover;
    border: 4px solid #F1c878; /* El borde circular alrededor de la imagen */
}

/* Entrada */

.input-group {
    margin-bottom: 20px; 
    text-align: left; 
}

.input-group label {
    display: block; 
    font-size: 14px;
    color: #6C5A4C; 
    margin-bottom: 5px;
    font-weight: bold; 
}

.input-group input {
    width: 100%;
    padding: 10px 0; 
    border: none; 
    border-bottom: 1px solid #f9e6c0; 
    background-color: transparent; 
    outline: none; 
    font-size: 16px;
    color: #744820; 
}

.input-group input:focus {
    border-bottom-color: #A08C75;
}

/* botones */
  
  
.buttons-container {
    margin-top: 30px;
    display: flex; 
    justify-content: space-around; 
    gap: 15px; 
}

.btn {
    padding: 12px 25px;
    border: none;
    border-radius: 25px; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-grow: 1;
    max-width: 160px;
    font-weight: bold;
}

.primary-btn {
    background-color: #f9e6c0; /* Botón "Registrarse" */
    color: #744820;
}

.primary-btn:hover {
    background-color: #C1AF96;
}

.secondary-btn {
    background-color: #f9e6c0; /* Botón "Iniciar Sesión" */
    color: #744820;
    border: 1px solid #D8C3A5;
}






.secondary-btn:hover {
    background-color: #D8C3A5;
}

/* Página de inicio*/

.container2 {
    text-align: center; /* contenedor principal */
    max-width: 750px;
    padding: 20px;
}

.logo {
    width: 120px; /* logo */
    margin-bottom: 15px;
}

h1 {
    font-size: 2.8em; /* Titulo principal */
    color: #aac09f
    margin-bottom: 15px;
}

.descripcion {
    color: #79926c; /* texto descriptivo */
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 40px;
}

.third-btn {
    display: inline-block; /* boton para entrar */
    background-color: #79926c;
    color: white;
    text-decoration: none;
    padding: 12px 40px;
    font-size: 1.1em;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.third-btn:hover {
    background-color: #6b8061; /* Verde más oscuro al pasar el mouse */
    transform: scale(1.05);
}
